.ProcessingOverlay {
    width: 100%;
    height: 100%;
}

.processingOverlayloading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.processingOverlaylicciumIcon {
    width: 65px;
    height: 65px;
}


/* .loadingIcon {
    width: 50px;
    height: 50px;
} */

/* @media (prefers-reduced-motion: no-preference) {
    .processingOverlaylicciumIcon {
        animation: licciumIcon-spin infinite 1.5s linear;
    }
}

@keyframes licciumIcon-spin {
    from {
        transform-origin: center;
        transform: rotate(0deg);
    }

    to {
        transform-origin: center;
        transform: rotate(360deg);
    }
} */

.processingOverlayloadingText {
    margin-top: 5px;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

section {
    position: relative;
}
section .circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 35px;
}
section .circle:before {
  content: '';
  display: block;
  /* kreis mit steemit Hintergrundfarbe */
  width: 12px;
  height: 12px;
  background-color: #000000;
  border-radius: 50%;
  animation: lebe 1s infinite linear;
}
section .circle0{
  transform: rotate(36deg);
}
section .circle1 {
  transform: rotate(72deg);
}
section .circle2 {
  transform: rotate(108deg);
}
section .circle3 {
  transform: rotate(144deg);
}
section .circle4 {
  transform: rotate(180deg);
}
section .circle5 {
  transform: rotate(216deg);
}
section .circle6 {
  transform: rotate(252deg);
}
section .circle7 {
  transform: rotate(288deg);
}
section .circle8 {
  transform: rotate(324deg);
 }
section .circle9 {
  transform: rotate(360deg);
}

section .circle0:before {
animation-delay: -0.9s;
}

section .circle1:before {
animation-delay: -0.8s;
}

section .circle2:before {
animation-delay: -0.7s;
}

section .circle3:before {
animation-delay: -0.6s;
}

section .circle4:before {
animation-delay: -0.5s;
}

section .circle5:before {
animation-delay: -0.4s;
}

section .circle6:before {
animation-delay: -0.3s;
}

section .circle7:before {
animation-delay: -0.2s;
}

section .circle8:before {
animation-delay: -0.1s;
}

section .circle9:before {
animation-delay: 0s; /* Keine Verzögerung für das letzte Element */
}

@keyframes lebe {
   0%, 20% {opacity: 1}
  75%{transform: scale(0.6)}
 100%{opacity: 0.1; transform: scale(0.1);}
}